@model SubscriptionsInputViewModel

@{
    ViewData["Title"] = "Edit subscription";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <h2>Welcome ADMIN!</h2>
        <section class="nav">
            <section class="site-wrapper">
                <nav class="admin-nav">
                    <a asp-controller="Subscriptions" asp-action="OurSubsctiprions" class="active">Subscriptions</a>
                    <a asp-controller="Classes" asp-action="OurClasses">Classes</a>
                    <a asp-controller="Users" asp-action="AllUser">Users</a>
                    <a asp-controller="Trainers" asp-action="Employees">Trainers</a>
                    <a asp-controller="Contact" asp-action="ContactMe">Contacts</a>
                </nav>
            </section>
        </section>
        <section class="site-wrapper">
            <section class="main">
                <section class="contacts">
                    <h2>Edit Subscription</h2>
                    <form method="post" class="contacts-form" asp-controller="Subscriptions" asp-action="EditSubscription">
                        <div asp-validation-summary="ModelOnly"></div>
                        <section class="form-label">
                            <input type="text" asp-for="Name" placeholder="Name...">
                            <i class="fas fa-file-signature"></i>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </section>
                        <section class="form-label">
                            <input type="text" asp-for="ImageUrl" placeholder="https://...">
                            <i class="far fa-file-image"></i>
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </section>
                        <section class="form-label">
                            <input type="text" asp-for="Price" placeholder="Price...">
                            <i class="fas fa-dollar-sign"></i>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </section>
                        <section class="form-label">
                            <input type="text" asp-for="Discount" placeholder="Discount...">
                            <i class="fas fa-percent"></i>
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </section>
                        <section class="form-label">
                            <input type="text" asp-for="IsActive" placeholder="Active(True/False)...">
                            <i class="fas fa-check"></i>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </section>
                        <section class="form-label">
                            <input type="submit" value="Edit now!">
                        </section>
                    </form>
                </section>
            </section>
        </section>
    }
</main>