@model IList<SubscriptionsInputViewModel>
@{
    ViewData["Title"] = "Subscriptions page";
}

<main class="site-content admin">
    <section class="site-wrapper">
        <section class="main">
            <section class="subs">
                @foreach (var subscriptions in Model)
                {
                    @if (subscriptions.IsActive == true)
                    {
                        <article class="sub">
                            <section class="sub-img">

                                <img src="@subscriptions.ImageUrl" alt="Image not found!">
                            </section>
                            <section class="sub-name">@subscriptions.Name</section>
                            <section class="sub-price">@subscriptions.Price €</section>
                            <section class="sub-discount">@subscriptions.Discount %</section>
                            <section class="card-actions">
                                <a href="#" class="edit">Take me</a>
                            </section>
                        </article>
                    }
                }
            </section>
        </section>
    </section>
</main>