@using Fitness2You.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Fitness 2 You</title>
    <link href="~/img/core-img/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="~/styles/styles.css">
</head>
<body>
    <header class="site-header">
        <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle">
        <section class="site-wrapper">
            <section class="site-logo">
                <a asp-controller="Home" asp-action="Index" class="logo">Fitness2You</a>
            </section>

            <label for="main-nav-toggle" id="toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times" id="times-icon"></i>
            </label>

            <partial name="_LoginPartial" />

        </section>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        @this.RenderBody()
    </div>

    <footer class="site-footer">
        <section class="site-wrapper">
            <partial name="_FooterPartial" />
            <section class="site-credentials">
                &copy; Coded & Designed with <i class="far fa-heart"></i> by <span class="author">E.Karadzhov</span>
            </section>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>