@model LoginInputViewModel
@{
    ViewData["Title"] = "Login Page";
}
<main class="site-content login">
    <section class="site-wrapper">
        <h2 class="section-title">Login to your account</h2>
        <article class="login-container">
            <section class="login-form">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <section class="form-label">
                        <input type="text" name="Username" placeholder="Username...">
                        <i class="fas fa-user"></i>
                        <span asp-validation-for="Username"></span>
                    </section>
                    <section class="form-label">
                        <input type="password" name="Password" placeholder="Password...">
                        <i class="fas fa-lock"></i>
                        <span asp-validation-for="Password"></span>
                    </section>
                    <section class="form-label">
                        <input type="submit" value="Login">
                    </section>
                </form>
            </section>
            <section class="login-bg">
            </section>
        </article>
    </section>
</main>