@{
    ViewData["Title"] = "Trainers page";
}


<div class="about-us--area section-padding-100">
    <div class="container">
        <div class="row">

            <!-- About Text -->
            <div class="col-12 col-lg-7">
                <div class="section-heading">
                    <h6>Fitness Gym</h6>
                    <h2>Why choose Fitness Gym?</h2>
                </div>
                <div class="about-text">
                    <p>Donec id mattis est. Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa scelerisque id. Nullam vulputate a lectus non molestie. Duis at lobortis neque, in maximus leo. Donec nec blandit ex, in finibus tortor. Curabitur aliquet fermentum ultrices. <br>Proin nunc sapien, gravida ut sapien ut, ultrices faucibus sapien. Proin vehicula varius ex, vel feugiat massa scelerisque id. Nullam vulputate a lectus non molestie. Duis at lobortis neque, in maximus leo. Donec nec blandit ex, in finibus tortor. Curabitur aliquet fermentum ultrices. </p>
                    <a href="#" class="btn fitness-btn mt-30">Get a membership</a>
                </div>
            </div>

            <!-- About Thumbnail -->
            <div class="col-12 col-lg-5">
                <div class="about--thumb">
                    <img src="~/img/bg-img/bg-12.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cool-facts-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-13.jpg);">
    <div class="container">
        <div class="row">

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact text-center mb-100">
                    <img src="~/img/core-img/stationary-bike2.png" alt="">
                    <h2><span class="counter">1293</span></h2>
                    <p>Km Spinned</p>
                </div>
            </div>

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact text-center mb-100">
                    <img src="~/img/core-img/chronometer.png" alt="">
                    <h2><span class="counter">12</span></h2>
                    <p>Hours a Day</p>
                </div>
            </div>

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact text-center mb-100">
                    <img src="~/img/core-img/beef.png" alt="">
                    <h2><span class="counter">311</span></h2>
                    <p>Days of Diet</p>
                </div>
            </div>

            <!-- Single Cool Facts -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact text-center mb-100">
                    <img src="~/img/core-img/swimming2.png" alt="">
                    <h2><span class="counter">3000</span></h2>
                    <p>Km Swimmed</p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="teachers-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h6>Fitness Gym</h6>
                    <h2>Meet the instructors</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-teachers-area mb-100">
                    <!-- Bg Gradients -->
                    <div class="teachers-bg-gradients"></div>
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="~/img/team-img/t1.png" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info">
                        <h6>Julia Smith</h6>
                        <span>Personal trainer</span>
                    </div>
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-teachers-area mb-100">
                    <!-- Bg Gradients -->
                    <div class="teachers-bg-gradients"></div>
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="~/img/team-img/t2.png" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info">
                        <h6>Mick Hamilton</h6>
                        <span>Personal trainer</span>
                    </div>
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-teachers-area mb-100">
                    <!-- Bg Gradients -->
                    <div class="teachers-bg-gradients"></div>
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="~/img/team-img/t3.png" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info">
                        <h6>Criss James</h6>
                        <span>Fitness trainer</span>
                    </div>
                </div>
            </div>

            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-teachers-area mb-100">
                    <!-- Bg Gradients -->
                    <div class="teachers-bg-gradients"></div>
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="~/img/team-img/t4.png" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info">
                        <h6>Jack Black</h6>
                        <span>Personal trainer</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>