<h2>Welcome ADMIN!</h2>
<section class="nav">
    <section class="site-wrapper">
        <nav class="admin-nav">
            <a asp-controller="AdminPanel" asp-action="Admin">Subscriptions</a>
            <a asp-controller="AdminPanel" asp-action="Classes" class="active">Classes</a>
            <a asp-controller="AdminPanel" asp-action="AllUser">Users</a>
            <a asp-controller="AdminPanel" asp-action="Employees">Trainers</a>
        </nav>
    </section>
</section>