<main class="site-content login">
    <section class="site-wrapper">
        <h2 class="section-title">Change you'r password!</h2>
        <article class="login-container">
            <section class="login-form">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label type="password">Current Password</label>
                        <input type="password" class="form-control" />
                        <span type="password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label type="password">New Password</label>
                        <input type="password" class="form-control" />
                        <span type="password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label type="password">Repeat new Password</label>
                        <input type="password" class="form-control" />
                        <span type="password" class="text-danger"></span>
                    </div>
                    <section class="form-label">
                        <input type="submit" value="Update Password">
                    </section>
                </form>
            </section>
            <section class="login-bg">
            </section>
        </article>
    </section>
</main>