<main class="site-content login">
    <section class="site-wrapper">
        <h2 class="section-title">Login to your account</h2>
        <article class="login-container">
            <section class="login-form">
                <form>
                    <section class="form-label">
                        <input type="text" name="username" placeholder="Username...">
                        <i class="fas fa-user"></i>
                    </section>
                    <section class="form-label">
                        <input type="password" name="password" placeholder="Password...">
                        <i class="fas fa-lock"></i>
                    </section>
                    <section class="form-label">
                        <input type="submit" value="Login">
                    </section>
                </form>
            </section>
            <section class="login-bg">
            </section>
        </article>
    </section>
</main>