<main class="site-content register">
    <section class="site-wrapper">
        <h2 class="section-title">Register your account</h2>
        <article class="register-container">
            <section class="register-bg">
            </section>
            <section class="register-form">
                <form>
                    <section class="form-label">
                        <input type="text" name="username" placeholder="Username...">
                        <i class="fas fa-user"></i>
                    </section>
                    <section class="form-label">
                        <input type="email" name="email" placeholder="Email...">
                        <i class="fas fa-envelope"></i>
                    </section>
                    <section class="form-label">
                        <input type="password" name="password" placeholder="Password...">
                        <i class="fas fa-lock"></i>
                    </section>
                    <section class="form-label">
                        <input type="password" name="repeatPassword" placeholder="Repeat password...">
                        <i class="fas fa-lock"></i>
                    </section>
                    <section class="form-label">
                        <input type="submit" value="Register">
                    </section>
                </form>
            </section>
        </article>
    </section>
</main>