<main class="site-content subscription">
    <section class="site-wrapper">
        <article class="subscriptions">
            <a href="#">
                <section class="subscription">
                    <img src="~/img/Bodybuilding.jpg" alt="sub-img">
                </section>
                <section class="sub-description">
                    <p class="text-first-line">
                        Package only for mens!
                    </p>
                    <p class="text-second-line">
                        Full access to all fitness services!
                    </p>
                    <p class="text-third-line">
                        ***
                    </p>
                    <p class="text-price-line">
                        79.99$ / month
                    </p>
                </section>
            </a>
            <a href="#">
                <section class="subscription">
                    <img src="~/img/fitness.webp" alt="sub-img">
                </section>
                <section class="sub-description">
                    <p class="text-first-line">
                        Package services for couple only!
                    </p>
                    <p class="text-second-line">
                        Full access to all fitness services!
                    </p>
                    <p class="text-third-line">
                        ***
                    </p>
                    <p class="text-price-line">
                        129.79$ / month
                    </p>
                </section>
            </a>
            <a href="#">
                <section class="subscription">
                    <img src="~/img/GettyImages-664635180.jpg" alt="sub-img">
                </section>
                <section class="sub-description">
                    <p class="text-first-line">
                        Do you like Yoga?
                    </p>
                    <p class="text-second-line">
                        Full access to all Yoga services!
                    </p>
                    <p class="text-third-line">
                        ***
                    </p>
                    <p class="text-price-line">
                        29.49$ / month
                    </p>
                </section>
            </a>
            <a href="#">
                <section class="subscription">
                    <img src="~/img/orig.jpeg" alt="sub-img">
                </section>
                <section class="sub-description">
                    <p class="text-first-line">
                        Package services only for persons under 25!
                    </p>
                    <p class="text-second-line">
                        Full access to all fitness services!
                    </p>
                    <p class="text-third-line">
                        ***
                    </p>
                    <p class="text-price-line">
                        24.50$ / month
                    </p>
                </section>
            </a>
            <a href="#">
                <section class="subscription">
                    <img src="~/img/601704_656570.jpg" alt="sub-img">
                </section>
                <section class="sub-description">
                    <p class="text-first-line">
                        Sauna and dumbbell service package!
                    </p>
                    <p class="text-second-line">
                        Full access to all fitness services!
                    </p>
                    <p class="text-third-line">
                        ***
                    </p>
                    <p class="text-price-line">
                        64.60$ / month
                    </p>
                </section>
            </a>
            <a href="#">
                <section class="subscription">
                    <img src="~/img/mujer-gimnasio-cuerpo-perfecto-sosteniendo-mancuernas_7502-345.jpg" alt="sub-img">
                </section>
                <section class="sub-description">
                    <p class="text-first-line">
                        Brazilian Booty Service Package!
                    </p>
                    <p class="text-second-line">
                        Personal trainer included in this price!
                    </p>
                    <p class="text-third-line">
                        Full access to all fitness services!
                    </p>
                    <p class="text-price-line">
                        62.80$ / month
                    </p>
                </section>
            </a>
        </article>
    </section>
</main>