@model LoginInputViewModel
@{
    ViewData["Title"] = "Login page";
}

<main class="site-content login">
    <section class="site-wrapper">
        <h2 class="section-title">Login to your account</h2>
        <article class="login-container">
            <section class="login-form">
                <form asp-controller="Users" asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <section class="form-label">
                        <input type="text" asp-for="Username" placeholder="Username...">
                        <i class="fas fa-user"></i>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </section>
                    <section class="form-label">
                        <input type="password" asp-for="Password" placeholder="Password...">
                        <i class="fas fa-lock"></i>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </section>
                    <section class="form-label">
                        <input type="submit" onclick="Login()" value="Login">
                    </section>
                </form>
            </section>
            <section class="login-bg">
            </section>
        </article>
    </section>
</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}