@model RegisterInputViewModel
@{
    ViewData["Title"] = "Register page";
}

<main class="site-content register">
    <section class="site-wrapper">
        <h2 class="section-title">Register your account</h2>
        <article class="register-container">
            <section class="register-bg">
            </section>
            <section class="register-form">
                <form asp-controller="Users" asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <section class="form-label">
                        <input type="text" asp-for="Username" placeholder="Username...">
                        <i class="fas fa-user"></i>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </section>
                    <section class="form-label">
                        <input type="email" asp-for="Email" placeholder="Email...">
                        <i class="fas fa-envelope"></i>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </section>
                    <section class="form-label">
                        <input type="tel" asp-for="PhoneNumber" placeholder="Phone Number...">
                        <i class="fas fa-mobile"></i>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </section>
                    <section class="form-label">
                        <input type="password" asp-for="Password" placeholder="Password...">
                        <i class="fas fa-lock"></i>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </section>
                    <section class="form-label">
                        <input type="password" asp-for="RepeatPassword" placeholder="Repeat password...">
                        <i class="fas fa-lock"></i>
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </section>
                    <section class="form-label">
                        <input type="submit" onclick="Register()" value="Register">
                    </section>
                </form>
            </section>
        </article>
    </section>
</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}