@model IList<EmployeeViewModel>
@{
    ViewData["Title"] = "Employees page";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <h2>Welcome ADMIN!</h2>
        <section class="nav">
            <section class="site-wrapper">
                <nav class="admin-nav">
                    <a asp-controller="Subscriptions" asp-action="OurSubsctiprions">Subscriptions</a>
                    <a asp-controller="Classes" asp-action="OurClasses">Classes</a>
                    <a asp-controller="Users" asp-action="AllUser">Users</a>
                    <a asp-controller="Trainers" asp-action="Employees" class="active">Trainers</a>
                    <a asp-controller="Contact" asp-action="ContactMe">Contacts</a>
                </nav>
            </section>
        </section>
        <section class="site-wrapper">
            <section class="main">
                <section class="add-section">
                    <a href="#">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </section>
                <section class="trainers">
                    @foreach (var employee in Model)
                    {
                        <article class="trainer">
                            <section class="trainer-img">
                                <img src="@employee.ImageUrl" alt="Image not found!">
                            </section>
                            <section class="trainer-name">@employee.Fullname</section>
                            <section class="trainer-title">@employee.Title</section>
                            <section class="trainer-salary">@employee.Salary €</section>
                            <section class="card-actions">
                                <a href="#" class="view">View</a>
                            </section>
                        </article>
                    }
                </section>
            </section>
        </section>
    }
</main>