@model IEnumerable<EmployeeInputViewModel>
@{
    ViewData["Title"] = "Trainers page";
}

<main class="site-content why-us">
    <section class="site-wrapper">
        <section class="why-us">
            <p class="title-headline">Fitness Gym</p>
            <h2 class="title">Why choose Fitness Gym?</h2>
            <article class="why-us-content">
                <section class="why-us-text">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad amet,
                        architecto commodi deleniti eaque expedita libero necessitatibus placeat qui. Adipisci
                        distinctio illum minus nobis numquam officiis quis quo voluptates. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Alias esse nam nihil quasi similique, sint ullam unde voluptatum!
                        Assumenda exercitationem ratione repudiandae similique tempore. Commodi est illo officia
                        provident rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias esse nam nihil
                        quasi similique, sint ullam unde voluptatum! Assumenda exercitationem ratione repudiandae
                        similique tempore. Commodi est illo officia provident rem.
                    </p>
                    <a href="#" class="link light">Get a membership</a>
                </section>
                <section class="why-us-img">
                    <img src="~/img/man.png" alt="Image Not Found">
                </section>
            </article>
        </section>
    </section>
    <section class="stats">
        <section class="site-wrapper">
            <section class="stats-content">
                <article class="stat">
                    <div class="icon">
                        <img src="~/img/icons/apple.png" alt="Icon not found!">
                    </div>
                    <h4 class="title">1293</h4>
                    <p class="description">Km Spinned</p>
                </article>
                <article class="stat">
                    <div class="icon">
                        <img src="~/img/icons/apple.png" alt="Icon not found!">
                    </div>
                    <h4 class="title">12</h4>
                    <p class="description">Hours a day</p>
                </article>
                <article class="stat">
                    <div class="icon">
                        <img src="~/img/icons/apple.png" alt="Icon not found!">
                    </div>
                    <h4 class="title">311</h4>
                    <p class="description">Days of diet</p>
                </article>
                <article class="stat">
                    <div class="icon">
                        <img src="~/img/icons/apple.png" alt="Icon not found!">
                    </div>
                    <h4 class="title">331</h4>
                    <p class="description">Km Swimmed</p>
                </article>
            </section>
        </section>
    </section>
    <section class="site-wrapper">
        <section class="ins-content">
            <p class="title-headline">Fitness Gym</p>
            <h2>Meet the instructors</h2>
            <section class="instructors">
                @foreach (var trainer in Model)
                {
                    <article class="instructor">
                        <div class="gradient"></div>
                        <div class="photo">
                            <img src="@trainer.ImageUrl" alt="Photo not found!">
                        </div>
                        <section class="instructor-info">
                            <h6 class="name">@trainer.Fullname</h6>
                            <p class="title">@trainer.Title</p>
                        </section>
                    </article>
                }
            </section>
        </section>
    </section>
</main>