@{
    ViewData["Title"] = "Admin page";
}

<main class="site-content admin">
    <h2>Welcome ADMIN!</h2>
    <section class="nav">
        <section class="site-wrapper">
            <nav class="admin-nav">
                <a asp-controller="Subscriptions" asp-action="OurSubsctiprions">Subscriptions</a>
                <a asp-controller="Classes" asp-action="OurClasses">Classes</a>
                <a asp-controller="Users" asp-action="AllUser">Users</a>
                <a asp-controller="Trainers" asp-action="Employees">Trainers</a>
                <a asp-controller="Contact" asp-action="ContactMe">Contacts</a>
            </nav>
        </section>
    </section>
</main>
