.site-footer {
    background: var(--main-background-color);
}

.site-footer * {
    color: var(--main-text-color);
}

.site-footer .site-credentials .author {

}

@media screen and (min-width: 500px) {
    .footer-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
