@{
    ViewData["Title"] = "Add Class page";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <partial name="AdminNavigationBar/_AdminNavigationBarClassActive" />
        <section class="site-wrapper">
            <section class="main">
                <section class="contacts">
                    <h2>Add new Class</h2>
                    <form method="post" class="contacts-form" asp-controller="AdminPanel" asp-action="AddClass">
                        <partial name="AdminForms/_AddAndEditFormClasses" />
                        <section class="form-label">
                            <input type="submit" value="Create now!">
                        </section>
                    </form>
                </section>
            </section>
        </section>
    }
</main>