@model AllUserWithRoleViewModel
@{
    ViewData["Title"] = "Users page";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <partial name="AdminNavigationBar/_AdminNavigationBarUserActive" />
        <section class="site-wrapper">
            <section class="main">
                @*<section class="add-section">
                        <a href="#">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </section>*@
                <section class="users">
                    <table class="gridtable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var userRole in Model.UserRole)
                            {
                                <tr class="datarow">
                                    <td data-name="Username">@Model.User.Where(x => x.Id == userRole.UserId).Select(x => x.Username).FirstOrDefault()</td>
                                    <td data-name="Role">@Model.Role.Where(x => x.Id == userRole.RoleId).Select(x => x.Name).FirstOrDefault()</td>
                                    <td data-name="Email">@Model.User.Where(x => x.Id == userRole.UserId).Select(x => x.Email).FirstOrDefault()</td>
                                    <td data-name="Actions" class="card-actions">
                                        <form method="post" asp-controller="AdminPanel" asp-action="AllUser" asp-route-username="@Model.User.Where(x=>x.Id==userRole.UserId).Select(x=>x.Username).FirstOrDefault()">
                                            <input type="submit" value="Change Role" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    }
</main>