@{
    ViewData["Title"] = "Edit employee";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <partial name="AdminNavigationBar/_AdminNavigationBarEmployeeActive" />
        <section class="site-wrapper">
            <section class="main">
                <section class="contacts">
                    <h2>Edit Employee</h2>
                    <form method="post" class="contacts-form" asp-controller="AdminPanel" asp-action="EditEmployee">
                        <partial name="AdminForms/_AddAndEditFormEmployee" />
                        <section class="form-label">
                            <input type="submit" value="Edit now!">
                        </section>
                    </form>
                </section>
            </section>
        </section>
    }
</main>