@{
    ViewData["Title"] = "Edit subscription";
}

<main class="site-content admin">
    @if (this.User.IsInRole("Admin"))
    {
        <partial name="AdminNavigationBar/_AdminNavigationBarSubsctiptionActive" />
        <section class="site-wrapper">
            <section class="main">
                <section class="contacts">
                    <h2>Edit Subscription</h2>
                    <form method="post" class="contacts-form" asp-controller="AdminPanel" asp-action="EditSubscription">
                        <partial name="AdminForms/_AddAndEditFormSubscription"/>
                        <section class="form-label">
                            <input type="submit" value="Edit now!">
                        </section>
                    </form>
                </section>
            </section>
        </section>
    }
</main>